# Trabajo final
## Índice de Desarrollo Humano a nivel distrital, 2017

Gianfranco Romero

In [81]:
import pandas as pd

In [20]:
# Base de datos del IDH 2017 en Perú

idh = pd.read_excel("IDH_PNUD_2017.xlsx")
idh

,Índice de Desarollo Humano IDH 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Logro educativo,NaN,NaN,NaN,NaN,NaN,Valores normalizados,NaN,NaN,NaN,NaN
1,UBIGEO,DEPARTAMENTO,NaN,NaN,NaN,Población total,Esperanza de vida al nacer,Población (18 años) con Educ. secundaria completa,Años de educación (Poblac. 25 y más),Ingreso familiar per cápita,NaN,Índice de Desarrollo Humano (IDH),NaN,Esperanza de vida al nacer,Población (18 años) con Educ. secundaria completa,Años de educación (Poblac. 25 y más),Logro educativo,Ingreso familiar per cápita
2,NaN,NaN,Provincia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Distrito,NaN,NaN,habitantes,Años,(%),Años,N.S. mes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,250401,1,Purus,NaN,NaN,2860,66.458846,20.197044,7.2707,517.759563,NaN,0.335455,NaN,0.690981,0.20197,0.385261,0.278947,0.195846
2300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2301,Fuente: INEI. Censo de Población y Vivienda 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2302,Elaboración: PNUD / Unidad del Informe sobre D...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2303,1/ Provincias de Lima y Callao.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
with pd.ExcelFile("./IDH_PNUD_2017.xlsx") as idh:
    df_dep = pd.read_excel(idh, 'Departamental')

df_dep

,"Índice de Desarrollo Humano departamental, 2017",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UBIGEO,DEPARTAMENTO,NaN,NaN,NaN,Población,NaN,Índice de Desarrollo Humano,NaN,Esperanza de vida al nacer,NaN,Con Educación secundaria completa (Poblac. 18 ...,NaN,Años de educación (Poblac. 25 y más),NaN,Ingreso familiar per cápita,NaN,NaN,NaN,NaN
2,NaN,NaN,Provincia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Distrito,NaN,NaN,habitantes,ranking,IDH,ranking,años,ranking,%,ranking,años,ranking,N.S. mes,ranking,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,000000,PERÚ,NaN,NaN,NaN,29381884,NaN,0.572345,NaN,75.52714,NaN,67.108865,NaN,8.78599,NaN,990.116633,NaN,NaN,NaN,1.0
7,010000,AMAZONAS,NaN,NaN,NaN,379384,19,0.417452,21,73.306564,15,46.859333,24,6.050521,23,629.7113,18,NaN,NaN,2.0
8,020000,ANCASH,NaN,NaN,NaN,1083519,10,0.488391,12,75.743889,10,61.110602,16,7.633381,15,712.6623,13,NaN,NaN,3.0
9,030000,APURÍMAC,NaN,NaN,NaN,405759,18,0.416742,22,72.634854,19,65.547677,13,6.610242,21,511.8983,24,NaN,NaN,4.0
10,040000,AREQUIPA,NaN,NaN,NaN,1382730,4,0.634479,4,78.203421,6,77.80172,1,10.097563,2,1088.0636,4,NaN,NaN,5.0
11,050000,AYACUCHO,NaN,NaN,NaN,616176,16,0.409602,23,71.078435,22,59.357975,18,6.905559,19,512.4642,23,NaN,NaN,6.0
12,060000,CAJAMARCA,NaN,NaN,NaN,1341012,5,0.40106,24,74.746021,11,51.376462,23,5.607542,25,551.7471,21,NaN,NaN,7.0
13,070100,Provincia Constitucional del CALLAO,NaN,NaN,NaN,994494,11,0.666302,2,82.515232,1,73.497518,6,10.062423,3,1198.1964,2,NaN,NaN,8.0
14,080000,CUSCO,NaN,NaN,NaN,1205527,7,0.470121,15,70.740178,23,66.690447,11,7.798155,14,667.9998,17,NaN,NaN,9.0
15,090000,HUANCAVELICA,NaN,NaN,NaN,347639,20,0.335663,25,64.034012,25,56.184207,19,5.735151,24,398.1561,25,NaN,NaN,10.0
16,100000,HUÁNUCO,NaN,NaN,NaN,721047,15,0.428468,19,73.110342,17,53.614801,20,6.572781,22,604.6419,19,NaN,NaN,11.0
17,110000,ICA,NaN,NaN,NaN,850765,13,0.612103,5,81.663418,2,73.527836,5,9.905355,5,958.9974,7,NaN,NaN,12.0
18,120000,JUNÍN,NaN,NaN,NaN,1246038,6,0.495384,11,73.181276,16,65.8842,12,8.381481,10,710.3179,14,NaN,NaN,13.0
19,130000,LA LIBERTAD,NaN,NaN,NaN,1778080,3,0.538779,10,77.214338,9,60.848472,17,8.033712,13,892.1488,8,NaN,NaN,14.0
20,140000,LAMBAYEQUE,NaN,NaN,NaN,1197260,8,0.53949,9,77.288576,8,67.090434,9,8.445149,9,827.6347,10,NaN,NaN,15.0
21,150000,LIMA,NaN,NaN,NaN,9485405,1,0.715651,1,81.153518,3,75.707688,2,10.35686,1,1464.2608,1,NaN,NaN,16.0
22,160000,LORETO,NaN,NaN,NaN,883510,12,0.454914,18,71.419194,21,45.044803,25,7.560003,17,736.7302,12,NaN,NaN,17.0
23,170000,MADRE DE DIOS,NaN,NaN,NaN,141070,25,0.56188,7,73.718619,12,63.758325,14,8.726031,7,1000.6915,6,NaN,NaN,18.0
24,180000,MOQUEGUA,NaN,NaN,NaN,174863,24,0.638726,3,79.800886,4,74.491285,4,9.921653,4,1112.4407,3,NaN,NaN,19.0
25,190000,PASCO,NaN,NaN,NaN,254065,22,0.460667,17,72.040411,20,68.253589,8,8.141167,11,591.7423,20,NaN,NaN,20.0
26,200000,PIURA,NaN,NaN,NaN,1856809,2,0.479728,13,73.696331,14,61.930024,15,7.577943,16,702.9804,16,NaN,NaN,21.0
27,210000,PUNO,NaN,NaN,NaN,1172697,9,0.427841,20,68.475641,24,72.150998,7,7.447559,18,532.3485,22,NaN,NaN,22.0
28,220000,SAN MARTÍN,NaN,NaN,NaN,813381,14,0.467982,16,73.718529,13,52.462043,21,6.644659,20,770.4451,11,NaN,NaN,23.0
29,230000,TACNA,NaN,NaN,NaN,329332,21,0.606991,6,77.53434,7,74.913182,3,9.810744,6,1003.4997,5,NaN,NaN,24.0
30,240000,TUMBES,NaN,NaN,NaN,224863,23,0.559666,8,79.057924,5,66.70287,10,8.666748,8,879.4833,9,NaN,NaN,25.0
31,250000,UCAYALI,NaN,NaN,NaN,496459,17,0.470985,14,72.861223,18,51.943499,22,8.052112,12,710.1024,15,NaN,NaN,26.0
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Fuente: INEI. Censo de Población y Vivienda 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Elaboración: PNUD / Unidad del Informe sobre D...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#Seleccionamos las columnas con las variables que usaremos

col_selec = ['Unnamed: 1','Unnamed: 5','Unnamed: 7','Unnamed: 9','Unnamed: 11','Unnamed: 13','Unnamed: 15']

df_col = df_dep[col_selec]

df_col

,Unnamed: 1,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DEPARTAMENTO,Población,Índice de Desarrollo Humano,Esperanza de vida al nacer,Con Educación secundaria completa (Poblac. 18 ...,Años de educación (Poblac. 25 y más),Ingreso familiar per cápita
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,habitantes,IDH,años,%,años,N.S. mes
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PERÚ,29381884,0.572345,75.52714,67.108865,8.78599,990.116633
7,AMAZONAS,379384,0.417452,73.306564,46.859333,6.050521,629.7113
8,ANCASH,1083519,0.488391,75.743889,61.110602,7.633381,712.6623
9,APURÍMAC,405759,0.416742,72.634854,65.547677,6.610242,511.8983
10,AREQUIPA,1382730,0.634479,78.203421,77.80172,10.097563,1088.0636
11,AYACUCHO,616176,0.409602,71.078435,59.357975,6.905559,512.4642
12,CAJAMARCA,1341012,0.40106,74.746021,51.376462,5.607542,551.7471
13,Provincia Constitucional del CALLAO,994494,0.666302,82.515232,73.497518,10.062423,1198.1964
14,CUSCO,1205527,0.470121,70.740178,66.690447,7.798155,667.9998
15,HUANCAVELICA,347639,0.335663,64.034012,56.184207,5.735151,398.1561
16,HUÁNUCO,721047,0.428468,73.110342,53.614801,6.572781,604.6419
17,ICA,850765,0.612103,81.663418,73.527836,9.905355,958.9974
18,JUNÍN,1246038,0.495384,73.181276,65.8842,8.381481,710.3179
19,LA LIBERTAD,1778080,0.538779,77.214338,60.848472,8.033712,892.1488
20,LAMBAYEQUE,1197260,0.53949,77.288576,67.090434,8.445149,827.6347
21,LIMA,9485405,0.715651,81.153518,75.707688,10.35686,1464.2608
22,LORETO,883510,0.454914,71.419194,45.044803,7.560003,736.7302
23,MADRE DE DIOS,141070,0.56188,73.718619,63.758325,8.726031,1000.6915
24,MOQUEGUA,174863,0.638726,79.800886,74.491285,9.921653,1112.4407
25,PASCO,254065,0.460667,72.040411,68.253589,8.141167,591.7423
26,PIURA,1856809,0.479728,73.696331,61.930024,7.577943,702.9804
27,PUNO,1172697,0.427841,68.475641,72.150998,7.447559,532.3485
28,SAN MARTÍN,813381,0.467982,73.718529,52.462043,6.644659,770.4451
29,TACNA,329332,0.606991,77.53434,74.913182,9.810744,1003.4997
30,TUMBES,224863,0.559666,79.057924,66.70287,8.666748,879.4833
31,UCAYALI,496459,0.470985,72.861223,51.943499,8.052112,710.1024
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
#Le asignamos nombres a las columnas

col_nomb = ['dep','pob','idh','esp_vid','p_sec_com','a_educ','ifam_pc']
df_col.columns = col_nomb

df_col

,dep,pob,idh,esp_vid,p_sec_com,a_educ,ifam_pc
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DEPARTAMENTO,Población,Índice de Desarrollo Humano,Esperanza de vida al nacer,Con Educación secundaria completa (Poblac. 18 ...,Años de educación (Poblac. 25 y más),Ingreso familiar per cápita
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,habitantes,IDH,años,%,años,N.S. mes
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PERÚ,29381884,0.572345,75.52714,67.108865,8.78599,990.116633
7,AMAZONAS,379384,0.417452,73.306564,46.859333,6.050521,629.7113
8,ANCASH,1083519,0.488391,75.743889,61.110602,7.633381,712.6623
9,APURÍMAC,405759,0.416742,72.634854,65.547677,6.610242,511.8983
10,AREQUIPA,1382730,0.634479,78.203421,77.80172,10.097563,1088.0636
11,AYACUCHO,616176,0.409602,71.078435,59.357975,6.905559,512.4642
12,CAJAMARCA,1341012,0.40106,74.746021,51.376462,5.607542,551.7471
13,Provincia Constitucional del CALLAO,994494,0.666302,82.515232,73.497518,10.062423,1198.1964
14,CUSCO,1205527,0.470121,70.740178,66.690447,7.798155,667.9998
15,HUANCAVELICA,347639,0.335663,64.034012,56.184207,5.735151,398.1561
16,HUÁNUCO,721047,0.428468,73.110342,53.614801,6.572781,604.6419
17,ICA,850765,0.612103,81.663418,73.527836,9.905355,958.9974
18,JUNÍN,1246038,0.495384,73.181276,65.8842,8.381481,710.3179
19,LA LIBERTAD,1778080,0.538779,77.214338,60.848472,8.033712,892.1488
20,LAMBAYEQUE,1197260,0.53949,77.288576,67.090434,8.445149,827.6347
21,LIMA,9485405,0.715651,81.153518,75.707688,10.35686,1464.2608
22,LORETO,883510,0.454914,71.419194,45.044803,7.560003,736.7302
23,MADRE DE DIOS,141070,0.56188,73.718619,63.758325,8.726031,1000.6915
24,MOQUEGUA,174863,0.638726,79.800886,74.491285,9.921653,1112.4407
25,PASCO,254065,0.460667,72.040411,68.253589,8.141167,591.7423
26,PIURA,1856809,0.479728,73.696331,61.930024,7.577943,702.9804
27,PUNO,1172697,0.427841,68.475641,72.150998,7.447559,532.3485
28,SAN MARTÍN,813381,0.467982,73.718529,52.462043,6.644659,770.4451
29,TACNA,329332,0.606991,77.53434,74.913182,9.810744,1003.4997
30,TUMBES,224863,0.559666,79.057924,66.70287,8.666748,879.4833
31,UCAYALI,496459,0.470985,72.861223,51.943499,8.052112,710.1024
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
#Eliminamos las filas con valores perdidos

df_sin_nan = df_col.dropna()
df_sin_nan = df_sin_nan.reset_index(drop = True)

df_sin_nan

,dep,pob,idh,esp_vid,p_sec_com,a_educ,ifam_pc
0,DEPARTAMENTO,Población,Índice de Desarrollo Humano,Esperanza de vida al nacer,Con Educación secundaria completa (Poblac. 18 ...,Años de educación (Poblac. 25 y más),Ingreso familiar per cápita
1,PERÚ,29381884,0.572345,75.52714,67.108865,8.78599,990.116633
2,AMAZONAS,379384,0.417452,73.306564,46.859333,6.050521,629.7113
3,ANCASH,1083519,0.488391,75.743889,61.110602,7.633381,712.6623
4,APURÍMAC,405759,0.416742,72.634854,65.547677,6.610242,511.8983
5,AREQUIPA,1382730,0.634479,78.203421,77.80172,10.097563,1088.0636
6,AYACUCHO,616176,0.409602,71.078435,59.357975,6.905559,512.4642
7,CAJAMARCA,1341012,0.40106,74.746021,51.376462,5.607542,551.7471
8,Provincia Constitucional del CALLAO,994494,0.666302,82.515232,73.497518,10.062423,1198.1964
9,CUSCO,1205527,0.470121,70.740178,66.690447,7.798155,667.9998
10,HUANCAVELICA,347639,0.335663,64.034012,56.184207,5.735151,398.1561
11,HUÁNUCO,721047,0.428468,73.110342,53.614801,6.572781,604.6419
12,ICA,850765,0.612103,81.663418,73.527836,9.905355,958.9974
13,JUNÍN,1246038,0.495384,73.181276,65.8842,8.381481,710.3179
14,LA LIBERTAD,1778080,0.538779,77.214338,60.848472,8.033712,892.1488
15,LAMBAYEQUE,1197260,0.53949,77.288576,67.090434,8.445149,827.6347
16,LIMA,9485405,0.715651,81.153518,75.707688,10.35686,1464.2608
17,LORETO,883510,0.454914,71.419194,45.044803,7.560003,736.7302
18,MADRE DE DIOS,141070,0.56188,73.718619,63.758325,8.726031,1000.6915
19,MOQUEGUA,174863,0.638726,79.800886,74.491285,9.921653,1112.4407
20,PASCO,254065,0.460667,72.040411,68.253589,8.141167,591.7423
21,PIURA,1856809,0.479728,73.696331,61.930024,7.577943,702.9804
22,PUNO,1172697,0.427841,68.475641,72.150998,7.447559,532.3485
23,SAN MARTÍN,813381,0.467982,73.718529,52.462043,6.644659,770.4451
24,TACNA,329332,0.606991,77.53434,74.913182,9.810744,1003.4997
25,TUMBES,224863,0.559666,79.057924,66.70287,8.666748,879.4833
26,UCAYALI,496459,0.470985,72.861223,51.943499,8.052112,710.1024

In [62]:
#Eliminamos las primeras dos filas

data_fin = df_sin_nan.drop(0).drop(1)
data_fin = data_fin.reset_index(drop = True)

data_fin

,dep,pob,idh,esp_vid,p_sec_com,a_educ,ifam_pc
0,AMAZONAS,379384,0.417452,73.306564,46.859333,6.050521,629.7113
1,ANCASH,1083519,0.488391,75.743889,61.110602,7.633381,712.6623
2,APURÍMAC,405759,0.416742,72.634854,65.547677,6.610242,511.8983
3,AREQUIPA,1382730,0.634479,78.203421,77.80172,10.097563,1088.0636
4,AYACUCHO,616176,0.409602,71.078435,59.357975,6.905559,512.4642
5,CAJAMARCA,1341012,0.40106,74.746021,51.376462,5.607542,551.7471
6,Provincia Constitucional del CALLAO,994494,0.666302,82.515232,73.497518,10.062423,1198.1964
7,CUSCO,1205527,0.470121,70.740178,66.690447,7.798155,667.9998
8,HUANCAVELICA,347639,0.335663,64.034012,56.184207,5.735151,398.1561
9,HUÁNUCO,721047,0.428468,73.110342,53.614801,6.572781,604.6419
10,ICA,850765,0.612103,81.663418,73.527836,9.905355,958.9974
11,JUNÍN,1246038,0.495384,73.181276,65.8842,8.381481,710.3179
12,LA LIBERTAD,1778080,0.538779,77.214338,60.848472,8.033712,892.1488
13,LAMBAYEQUE,1197260,0.53949,77.288576,67.090434,8.445149,827.6347
14,LIMA,9485405,0.715651,81.153518,75.707688,10.35686,1464.2608
15,LORETO,883510,0.454914,71.419194,45.044803,7.560003,736.7302
16,MADRE DE DIOS,141070,0.56188,73.718619,63.758325,8.726031,1000.6915
17,MOQUEGUA,174863,0.638726,79.800886,74.491285,9.921653,1112.4407
18,PASCO,254065,0.460667,72.040411,68.253589,8.141167,591.7423
19,PIURA,1856809,0.479728,73.696331,61.930024,7.577943,702.9804
20,PUNO,1172697,0.427841,68.475641,72.150998,7.447559,532.3485
21,SAN MARTÍN,813381,0.467982,73.718529,52.462043,6.644659,770.4451
22,TACNA,329332,0.606991,77.53434,74.913182,9.810744,1003.4997
23,TUMBES,224863,0.559666,79.057924,66.70287,8.666748,879.4833
24,UCAYALI,496459,0.470985,72.861223,51.943499,8.052112,710.1024

In [63]:
import altair as alt

## Gráfico 1: IDH por departamento (2017)

In [64]:
alt.Chart(data_fin).mark_point().encode(
    x = alt.X('idh', title = 'Índice de Desarrollo Humano'),
    y = alt.Y('dep', title = 'Departamento')
    ).interactive().properties(
    title={
        "text": ['IDH por departamento (2017)']
    }
)

alt.Chart(...)

## Gráfico 2: Relación entre secundaria completa e ingreso familiar

In [79]:
alt.Chart(data_fin).mark_point().encode(
    x = alt.X('ifam_pc:Q', title = 'Ingreso familiar per cápita (S/)'),
    y = alt.Y('p_sec_com:Q', title = '% de población con secundaria completa (18 años a más)'),
    color = 'idh',
    tooltip = ['dep','idh']
    ).interactive().properties(
    title={
        "text": ['Relación entre secundaria completa e ingreso familiar'],
        "subtitle": ['Dos de los indicadores que componen el IDH',
                    'Fuente: PNUD (2017)']
    }
)

alt.Chart(...)